body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #659DBD;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.pageContent {
  padding: 30px;
}
.section-bg-armyGreen {
  background-color: #FBEEC1;
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
.section-title {
  text-align: center;
}
.section-content {
  text-align: center;
}
.section-image {
  text-align: center;
  padding: 20px;
}
.image {
  height: 280px;
  width: auto;
}
.flex-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
@media screen and (max-width: 1020px) {
  .flex-container {
    flex-direction: column;
    justify-content: center;
  }
  .child-container{
    text-align: center;
  }
  .section-image{
    justify-content: center;
    height: 360px;
    width: 360px;
  }
}
.child-container {
  padding: 30px;
}

.navbar {
  display: flex;
  
  }
  
  .navLinks,
  a {
    justify-content: center;
    margin-left: 4rem;
    margin-right: 4rem;
  
  }
  
  .link{
    text-decoration: none;
  }
  .link:hover {
    color: #E27D60;
  }


  @media screen and (max-width: 1020px) {
    .flex-container {
      flex-direction: column;
      justify-content: center;
    }
    .child-container{
      text-align: center;
    }
    .section-image{
      justify-content: center;
      height: 360px;
      width: 360px;
    }
  }
  @media screen and (max-width: 400px) {
    .flex-container {
      flex-direction: column;
      justify-content: center;
    }
    .child-container{
      text-align: center;
    }
    .section-image{
      justify-content: center;
      height: 200px;
      width: 200px;
    }
  }
