* {
  padding: 0;
  margin: 0;
}
.html{
  padding: 0px;
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:  rgb(122, 0 ,25);
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.pageContent {
  padding: 20px;
}
.section-bg-armyGreen {
  background-color: rgb(255,204,51);
  display: block;
  margin: 25px;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  border-radius: 5% 5% 5% 5%; /* Important part */
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.5)
 

 
 
}
.section-title {
  color: rgb(122, 0 ,25);
  text-align: center;
  margin-bottom: 0px;
  font-size: 100px ;
  
}
.section-content {
  color: rgb(122, 0 ,25);
  text-align: center;
  
}
.section-image {
  text-align: center;
  padding: 20px;
  height: 360px;
}
.image {
  height: 280px;
  width: auto;
}
.flex-container {
  display: flex;
  justify-content: center;
  flex-direction: row;

  overflow: hidden;
}

.child-container {
  padding: 30px;
}

/* 
///////////////////////
/* NAV BAR STYLING  */
/* ////////////////////// */

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;

  
  }
  
  .navLinks
   {
display:flex; 
   
  
  }
  a {
    color: rgb(255,204,51)


  
  }
  
  .link{
    text-decoration: none;
  }
  a:hover {
    color: black;
  }

/* REGISTRATION PAGE  */

.instructions {
  font-size: 0.75rem;
  border-radius: 0.5rem;
  background: #000;
  color: #fff;
  padding: 0.25rem;
  position: relative;
  bottom: -10px;
}
.offscreen {
  position: absolute;
  left: -9999px;
}
.instructions > svg {
  margin-right: 0.25rem;
}

.hide {
  display: none;
}
.valid {
  color: limegreen;
  margin-left: 0.25rem;
}

.invalid {
  color: red;
  margin-left: 0.25rem;
}
.errmsg {
  background-color: lightpink;
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

section {
  width: 100%;
  max-width: 420px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1rem;
  background-color: rgba(0,0,0,0.4);
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-grow: 1;
  padding-bottom: 1rem;
}

a, a:visited {
  color: #fff;
}

input[type="text"],
input[type="password"],
button,
textarea {
font-family: 'Nunito', sans-serif;
font-size: 22px;
padding: 0.25rem;
border-radius: 0.5rem;
}

label,
button {
margin-top: 1rem;
}

button {
padding: 0.5rem;
}

.section-registration-login {
    background-color: rgb(255,204,51);
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 25px;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  border-radius: 5% 5% 5% 5%; /* Important part */
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.5)
}
.line {
  display: inline-block;
}




  /* MEDIA QUERIES */
  @media screen and (max-width: 1020px) {
    .flex-container {
      flex-direction: column;
      justify-content: center;
    }
    .child-container{
      text-align: center;
    }
    .section-image{
      justify-content: center;
      height: 360px;
      width: 360px;
    }
  }
  @media screen and (max-width: 400px) {
    .section-title {
      font-size: 50px;
    }
    .section-content {
      font-size: 13px;
    }
    .flex-container {
      flex-direction: column;
      justify-content: center;
    }
    .child-container{
      text-align: center;
    }
    .section-image{
      justify-content: center;
      height: 200px;
      width: 200px;
    }
  }

  @media screen and (max-width: 300px) {
    .flex-container {
      flex-direction: column;
      justify-content: center;
    }
    .child-container{
      text-align: center;
    }
    .section-image{
      justify-content: center;
      height: 100px;
      width: 100px;
    }
  }
